@charset "UTF-8";

#wrapper {
  padding: 40px;
	display: flex;
  justify-content: space-around;
}

#wrapper a {
  text-decoration: none;
}

#wrapper .table th,td {
	text-align: center;
}

table {
  border: 2px solid black;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.table td {
  word-break : break-word;
  vertical-align: middle;
}
table a {
  text-decoration: none;
}

.reviews , .employees {
  width: 400px;
  height: auto;
}
