@charset "UTF-8";
.table{
  border: 2px solid black;
  margin: 0 auto;
  width: 80%;
  margin-top: 30px;
}

.table th {
  text-align: center;
  vertical-align: middle;
  word-break : break-word;
  width: 30%;
  line-height: 35px;
}
.table td {
  line-height: 30px;
}

@media (max-width: 1199px) {
.table {
  width: 100%;
}
.table th {
  width: 40%;
}
}
