@charset "UTF-8";

#container p {
  font-size: 30px;
  color: black;
}

.table{
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 30px;
  width: 40%;
  /* table-layout: fixed; */
}

table th {
  text-align: center;
  vertical-align: middle;
  word-break : break-word;
  /* width: 30%; */
}
.table td {
  text-align: center;
  vertical-align: middle;
  word-break : break-word;
  height: auto;
}
.hello {
  text-align: center;
  font-size: 30px;
  margin: 30px;
}

span {
  font-size: 26px;
}
.right {
  text-align: right;
}
.mr-20 {
  margin-right: 20px;
}


@media (max-width: 1199px) {
  .table {
    width: 100%;
  }
}
